#controls{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light","Helvetica Neue", Helvetica,sans-serif;
	font-weight: 300;
	float:left;
	width:590px;
}
.header{
	font-weight:bold;
	letter-spacing: 1px;

}
.radio-option{
	font-size:12px;
	letter-spacing: 1px;
}
.control-block{
	float:left;
	margin-right:20px;
}
.float-me{
	float:left;
}
#controls-transformation .radio-option{
	float:left;
	width:100px;
	margin-bottom:5px;
}
#controls-transformation{
	width:200px;
	margin:0 0 0 20px;
}
h2, h4{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light","Helvetica Neue", Helvetica,sans-serif;
	font-weight: 300;
}
#descriptive-stats{
	float:left;
}
.stat{
	/*width:110px;*/
	margin-right:35px;
	display:inline-block;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light","Helvetica Neue", Helvetica,sans-serif;
	font-weight: 300;
}
#chart-container{
	float:left;
}
#break-controls{
	line-height:22px;
}
#submit-btn{
	width:126px;
}