#controls{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light","Helvetica Neue", Helvetica,sans-serif;
	font-weight: 300;
	overflow: auto;
}
label {
	font-size: 12px;
	letter-spacing: 1px;
	width: 150px;
	display: block;
}
input, select{
	width: 150px;
	position: relative;
	margin: 0 0 10px 0;
}
.clearfix{
	clear: both;
}
.header{
	font-weight: bold;
	letter-spacing: 1px;
}
.radio-option{
	font-size: 12px;
	letter-spacing: 1px;
	margin-top: -7px;
	line-height: 27px;
}
.control-block{
	margin-right: 20px;
	float: left;
}
#controls-transformation .radio-option{
	width: 100px;
	margin-bottom: 5px;
}
#controls-transformation{
	width: 200px;
	margin: 0 0 0 20px;
}
h4{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light","Helvetica Neue", Helvetica,sans-serif;
	font-weight: 300;
	margin: 0 0 20px 0;
}
#descriptive-stats{
	margin: 20px 0 0 0;
	text-align: center;
}
.stat{
	margin-right: 35px;
	display: inline-block;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light","Helvetica Neue", Helvetica,sans-serif;
	font-weight: 300;
}
#binning{
	top: -1px;
}
#break-controls{
	line-height: 22px;
}
#submit-btn{
	width: 126px;
}
.control-block.disabled{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
	-webkit-opacity: .5;
  -khtml-opacity: 0.5;
  -moz-opacity: 0.5;
	opacity: .5;
}
.control-header{
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 1px;
	margin-bottom: 5px;
}