a{
	color: #303030;
}
a:hover{
	color: #6c0;
}
#controls{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light","Helvetica Neue", Helvetica,sans-serif;
	font-weight: 300;
	overflow: auto;
}
.tab, label {
	font-size: 12px;
	letter-spacing: 1px;
	width: 150px;
	display: block;
	padding: 2px 0;
}
input, select{
	width: 175px;
	position: relative;
	margin: 0 0 10px 0;
}
.clearfix{
	clear: both;
}
.header{
	font-weight: bold;
	letter-spacing: 1px;
}
.radio-option{
	font-size: 12px;
	letter-spacing: 1px;
	margin-top: -7px;
	line-height: 27px;
}
.control-block{
	margin-right: 20px;
	float: left;
}
#controls-transformation .radio-option{
	width: 100px;
	margin-bottom: 5px;
}
#controls-transformation{
	width: 200px;
	margin: 0 0 0 20px;
}
h4, p{
	font-family:  Helvetica,sans-serif;
	/*font-weight: 300;*/
	margin: 0 0 20px 0;
	font-weight: normal;
	font-size: 13px;
	width: 750px;
}
p{
	margin-bottom: 20px;
}
#descriptive-stats{
	margin: 20px 0 0 0;
	text-align: center;
}
.stat{
	margin-right: 35px;
	display: inline-block;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light","Helvetica Neue", Helvetica,sans-serif;
	font-weight: 300;
}
#binning{
	top: -1px;
}
#break-controls{
	line-height: 22px;
}
#submit-btn{
	width: 126px;
}
.control-block.disabled{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
	-webkit-opacity: .5;
  -khtml-opacity: 0.5;
  -moz-opacity: 0.5;
	opacity: .5;
}
.control-header{
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 1px;
	margin-bottom: 5px;
}
.tab{
	width: auto;
	color: #AFAFAF;
	padding: 1px 8px 1px 0;
	display: inline-block;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
}
.tab:hover{
	cursor: hand;
	cursor: pointer;
	text-decoration: underline;
}
.tab.active{
	color: #6c0;
}
.tab.active:hover{
	cursor: default;
	text-decoration: none;
}